.desk {
  width: 100%; /* Default for mobile */
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .desk {
    /* TODO: Specify the width, floating behavior, and margins for larger screens */
    /* Solution */
    /* 
    width: 30%;
    box-sizing: border-box;
    float: left;
    margin: 5px;
     */
  }
}