body {
  background-color: white;
  color: black;
  transition: background-color 0.5s, color;
}

.dark {
  background-color: black;
  color: white;
}

.farFromTop {
  position: relative;
  top: 50px;
}